/*------ Colores */
.green_color{
    background-color: #7ACC2D;
}
.black_color{
    background-color: #313337;
}
.black_color{
    background-color: #fff;
}


.main_section{
    padding: 15%;
}

/* -------------------------------------------  PRODUCTOS */

.products{
    background-image: url("../images/curve.png");
    padding: 15%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 95px;
    background-size: cover;
  }
  
  .product{
    padding: 20px;
    margin-top: -226px;
  }
  
  .image-product{
    text-align: center;
  }
  
  .content{
    padding: 20px;
    background: var(--white-color);
    border-radius: 3px;
    box-shadow: 0px 0 2px 1px #e6e5e9;
  }
  
  .main_btn{
    padding: var(--space);
    background-color: var(--green-color);
    width: 100%;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white-color);
  }
  .main_btn:hover{
    background-color: #63a426;
  }
  