/*------ Colores */
.green_color{
    background-color: #7ACC2D;
}
.black_color{
    background-color: #313337;
}
.black_color{
    background-color: #fff;
}

.error_color{
    background-color:   #ecd3ce ;
}
.boton_error_color{
  background-color:  #4a315b ;
}
.text_gris{
  color: #5d6169;
}

.main_section{
    padding: 15%;
}



/* -------------------------------------------  PRODUCTOS */



.margin_productos{
  margin-top: -25%;
}


/* -------------------------------------------  beneficios */

.margin_beneficios{
  margin-top: 15%;
  margin-right: 5%;
}